haribote.img
bootpack.gas
bootpack.hrb
bootpack.bim
bootpack.lst
bootpack.map
bootpack.obj
haribote.sys
asmhead.bin
asmhead.lst
bootpack.nasm
ipl10.bin
ipl10.lst
naskfunc.lst
naskfunc.obj
hankaku.obj
hankaku.bin
dsctbl.gas
dsctbl.lst
dsctbl.nasm
dsctbl.obj
graphic.gas
graphic.lst
graphic.nasm
graphic.obj
int.lst
int.obj
